<!DOCTYPE html>
<html>
    <head>
          <title>
              <%= locals.title %>
          </title>
    </head>
    <body>
         <h1>Playground!!</h1>

         <ul>
            <!-- //looping -->
            <% for(i=0;i<5;i++){%>
            <li>
                <%= i %>
            </li>    
                
            <%} %>
            <!-- conditionals -->
            <% if(true){%>
               <h1>It's true!!</h1> 
            <%}else{%>
                <p>It's false!!</p>   
            <%} %>

         </ul>
    </body>
</html>