body{
    margin: 0;
    font-family: sans-serif;
}
#page-heading{   
    margin-top: 25px;
    color: grey;
}
.contact-section{
    width: 40vw;
    text-align: center;
    margin: auto;
}
#contact-container{
    text-align: center;
    height: 60vh;
    width: 100%;
    overflow-y: scroll;
}
.contact{
    list-style: none;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    background-color: rgb(60, 119, 247);
    box-sizing: border-box;
    padding: 0 2%;
}
.contact:hover{
    background-color: grey;
}
.details{
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    font-weight: bold;
    letter-spacing: 1px;
}
.delete-button{
    width: 5%;
    padding: 1% 2px;
    
}
.delete-button a{
    text-decoration: none;
    color: black;
    background-color: white;
}
#contact-form{
    display: flex;
    width: 100%;
    margin-left: 3%;
    margin-top: 5%;
    justify-content: space-between;
}
#contact-form input{
    border-style: none;
    border-bottom: 1px solid grey;
    width: 35%;
}
#contact-form button{
    width: 14%;
    color: white;
    background-color: black;
}
